[Unit]
Description=Grafana Server
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User={{ system_user }}
Group={{ system_group }}
RestartSec=5s
Restart=on-failure
Type=simple
ExecStart=/etc/grafana/dist/grafana-{{ grafana_version }}/bin/grafana-server  \
    --homepath=/etc/grafana/dist/grafana-{{ grafana_version }} \
    --pidfile=/etc/grafana/grafana.pid

LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target