[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ node_system_user }}
Group={{ node_system_group }}
Type=simple
RestartSec=5s
Restart=on-failure
ExecStart=/usr/local/bin/node_exporter --web.listen-address=0.0.0.0:9100

[Install]
WantedBy=multi-user.target
