map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ reverse_proxy_grafana_hostname }};

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:3000;
    }

    # Proxy Grafana Live WebSocket connections.
    location /api/live/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:3000;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ reverse_proxy_prometheus_hostname }};

    # Main Prometheus interface (configurable protection)
    location / {
        {% if enable_prometheus_auth %}
        auth_basic           "Administrator Area";
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:9090;
    }

    # Remote write endpoint (configurable protection)
    location /api/v1/write {
        auth_basic off;
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:9090;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ reverse_proxy_alertmanager_hostname }};

    {% if enable_alertmanager_auth %}
    auth_basic           "Administrator Area";
    auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:9093;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ reverse_proxy_node_exporter_hostname }};

    {% if enable_node_exporter_auth %}
    auth_basic           "Administrator Area";
    auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:9100;
    }
}
