[Unit]
Description=Prometheus Server
After=network.target

[Service]
User={{ prometheus_system_user }}
Group={{ prometheus_system_group }}
Type=simple
RestartSec=5s
Restart=on-failure
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/etc/prometheus/data \
  --web.enable-remote-write-receiver

[Install]
WantedBy=multi-user.target
